*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.recommenders/
/Servers/
/RemoteSystemsTempFiles/

/.metadata/.plugins/org.eclipse.core.resources/.history
/.metadata/.plugins/org.eclipse.core.resources/.projects/JSweetQS/.indexes
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/local-history/
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/remote-history/
/.metadata/.plugins/org.eclipse.jdt.core/
/.metadata/.plugins/org.eclipse.wst.server.core/